<div class="row h-100">
  <div class="col-2 collapse d-md-flex bg-light pt-2 h-100" id="sidebar">
      <ul class="nav flex-column flex-nowrap">
          <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-cubes"></i><span> Dashboard</span></a></li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i class="far fa-building"></i><span> Empresas</span></a>
              <div class="collapse" id="submenu1" aria-expanded="false">
                  <ul class="flex-column pl-2 nav">
                      <li class="nav-item"><a class="nav-link py-0" href="">Ver Todas</a></li>
                  </ul>
                  <ul class="flex-column pl-2 nav">
                    <li class="nav-item"><a class="nav-link py-0" href="">Gestionar</a></li>
                  </ul>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Administradoras</a>
            <div class="collapse" id="submenu1" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                    <li class="nav-item"><a class="nav-link py-0" href="">Ver Todas</a></li>
                </ul>
                <ul class="flex-column pl-2 nav">
                  <li class="nav-item"><a class="nav-link py-0" href="">Gestionar</a></li>
                </ul>
            </div>
          </li>
      </ul>
  </div>